.animation_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.divFotos {
    width: auto;
    max-width: 350px;
    min-width: 150px;
    max-height: 350px;
    min-height: 150px;
    object-fit: contain;
    margin:0px auto;
    padding: 10px;
}

.animationFoto01 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-left-style: groove;
    border-width: 20px;
    border-color: #91d8f7;
    border-radius: 0px 200px 0px 200px ;
    -moz-border-radius: 0px 200px 0px 200px ;
    -webkit-border-radius: 0px 200px 0px 200px ;
}
.animationFoto02 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-left-style: groove;
    border-width: 20px;
    border-color: #91d8f7;
    border-radius: 200px 200px 0px 200px ;
    -moz-border-radius: 200px 200px 0px 200px ;
    -webkit-border-radius: 200px 200px 0px 200px ;
}
.animationFoto03 {
    max-width: 91%;
    max-height: 91%;
    object-fit: contain;
    border-left-style: groove;
    border-width: 20px;
    border-color: #91d8f7;
    border-radius: 200px 0px 200px 0px ;
    -moz-border-radius: 200px 0px 200px 0px ;
    -webkit-border-radius: 200px 0px 200px 0px ;
}
.animationFoto04 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 200px 0px 200px 0px ;
    -moz-border-radius: 200px 0px 200px 0px ;
    -webkit-border-radius: 200px 0px 200px 0px ;
}
.animationFoto05 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0px 200px 0px 200px ;
    -moz-border-radius: 0px 200px 0px 200px ;
    -webkit-border-radius: 0px 200px 0px 200px ;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }    
    to {
        transform: rotate(0);
    }
}

@keyframes slide {
    from {
        transform: translateX(1600px);
    }    
    to {
        transform:  translateX(-1600px);
    }
}