.content {
    display: block;
    width: 180px;
    height: 330px;
    text-align: center;
    border-radius: 50%;
    font-size: 26px;
    padding: 6px;
    transform: translateX(-380px) translateY(79px) rotate(0deg);
    -webkit-transform: translateX(-380px) translateY(79px) rotate(0deg);
    transition: 0.5s;
    cursor: pointer;
    z-index: 5;
}
.content > span:nth-child(1){
    transform: translateX(0px) translateY(7px) rotate(-15deg);
    -webkit-transform: translateX(142px) translateY(55px) rotate(60deg);
}

.content > span:nth-child(2){
    transform: translateX(120px) translateY(80px) rotate(65deg);
    -webkit-transform: translateX(120px) translateY(80px) rotate(65deg);
}
.content > span:nth-child(3){
    transform: translateX(95px) translateY(108px) rotate(75deg);
    -webkit-transform: translateX(95px) translateY(108px) rotate(75deg);
}
.content > span:nth-child(4){
    transform: translateX(68px) translateY(135px) rotate(90deg);
    -webkit-transform: translateX(68px) translateY(135px) rotate(90deg);
}
.content > span:nth-child(5){
    transform: translateX(39px) translateY(165px) rotate(90deg);
    -webkit-transform: translateX(39px) translateY(165px) rotate(90deg);
}
.content > span:nth-child(6){
    transform: translateX(7px) translateY(195px) rotate(90deg);
    -webkit-transform: translateX(7px) translateY(195px) rotate(90deg);
}
.content > span:nth-child(7){
    transform: translateX(73px) translateY(180px) rotate(90deg);
    -webkit-transform: translateX(73px) translateY(180px) rotate(90deg);
}

.content span {
    display: inline-block;
    background-color: transparent;
    margin: 3px;
}
.content:hover {
    /* background-color: rgba(32, 30, 30, 1); */
    color: aliceblue;
}