.container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    height: 100%;
}

.min_height{
    min-height: 75%;
    align-items: center;
}

.maxWidth{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.home{
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    background-color: #f79532;
    background-position: 600px;
    background-size: 3000px;
    background-image: -moz-radial-gradient(center, ellipse cover, 
        rgba(224,219,80,1) 0%, 
        rgba(165,80,4,1) 43%, 
        rgba(160,104,56,1) 77%, 
        rgba(219,82,48,1) 100%);
}

.start{
    justify-content: flex-start;
}

.rowCenter{
    align-items: center;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.stick {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}