.containerBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    background-color: rgba(32, 30, 30, 1);

}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    min-height: 100vh; 
    width: 100%;
}
.home{
    padding-top: 30px;
    background-color: #f79532;
    background-size: 100%;
    background-image: url('../imgs/backgrounds/porSol.png');
    background-repeat: no-repeat;
}

.start{
    justify-content: flex-start;
}

.rowCenter{
    align-items: center;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.stick {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}